<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button *ngIf="hasCloseButton"
     type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
