<div class="form-group"  [ngClass]="formGroup">
  <label
    [ngClass]="labelCols"
    attr.for="{{htmlId}}_input"
    attr.id="{{htmlId}}_label">
    <ng-content select="label"></ng-content>
  </label>

  <div *ngIf="horizontal; else elseTpl" [ngClass]="contentCols">
      <ng-container *ngTemplateOutlet="elseTpl" select="span"></ng-container>
   </div>

   <ng-template #elseTpl><ng-content select="span"></ng-content></ng-template>

</div>
