<!-- old template that will still be used later -->

<ui-fromgroup [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>

<span>
  <div
      [class.input-group]="inputgroup !== 'Invisible'"
      [class.input-group-lg]="size === 'Large'"
      [class.input-group-sm]="size === 'Small'">
    <input
          [class.is-invalid]="isNgInvalid"
          class="form-control"
          (bsValueChange)="onChange($event)"
          attr.id="{{htmlId}}_input"
          type="text"
          [(ngModel)]="value"
          [placeholder]="placeholder"
          [disabled]="disabled || static"
          bsDatepicker #d="bsDatepicker"

          [minDate]="minDate"
          [maxDate]="maxDate"
          [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}">
    <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
  </div>
  <ui-error-reporter #errorReporter></ui-error-reporter>
</span>
</ui-fromgroup>


<!-- {{ value }} -->
