<h3 class="display-5">Specify your type of appointment</h3>

<hr>

<ui-dropdown
  [label]="'Purpose'"
  [items]="ws?.purposeList"
  [(ngModel)]="ws.selectedPurposeValue"
  [ngModelOptions]="{standalone: true}"
  (ngModelChange)="onPurposeChanged()">
</ui-dropdown>

<ng-container *ngIf="ws?.selectedPurpose">

  <ng-container *ngIf="ws?.hasBookingPlan() &amp;&amp; !applyedBookingPlanAttributes">
      <ui-dynamic-form #dynamicFrom></ui-dynamic-form>
  </ng-container>

  <ng-container *ngIf="ws?.hasNoBookingPlan() || applyedBookingPlanAttributes">
    <ui-datepicker
      [label]="bookingWindowCaption"
      [(ngModel)]="ws.date"
      [ngModelOptions]="{standalone: true}">
    </ui-datepicker>
  </ng-container>

  <ui-checkboxgroup
    [visible]="weekDaySelectable"
    [label]="'Day of week'"
    [items]="dayOfWeekItems"
    [(ngModel)]="dayOfWeekValues"
    [ngModelOptions]="{standalone: true}">
  </ui-checkboxgroup>

  <ui-checkboxgroup
    [visible]="dayTimeSelectable"
    [label]="'Time of day'"
    [items]="timeOfDayItems"
    [(ngModel)]="timeOfDayValues"
    [ngModelOptions]="{standalone: true}">
  </ui-checkboxgroup>

</ng-container>
