<ui-fromgroup *ngIf="visible == null || visible === undefined  || visible" [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>
  <span>
    <div
        *ngIf="items &amp;&amp; items.length > 0"
        [class.input-group-lg]="size === 'Large'"
        [class.input-group-sm]="size === 'Small'">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-3 col-xl mb-3 mb-xl-0"
          *ngFor="let item of items; let i = index">
          <button
            *ngIf="!(item?.visible == false)"
            attr.id="{{htmlId}}_{{i}}_button"
            [class.active]="isActive(item)"
            [class.btn-outline-primary]="isActive(item)"
            [class.btn-outline-info]="!isActive(item)"
            type="button"
            class="btn btn-block"
            (click)="onToggle(item)"
            [disabled]="disabled || static || item?.disabled || item?.disabled">
              {{item.label}}
          </button>
          <p *ngIf="item?.description" attr.id="{{htmlId}}_description" class="help-block">{{item.description}}</p>
        </div>
      </div>
    </div>
    <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
    <ui-error-reporter #errorReporter></ui-error-reporter>
  </span>
</ui-fromgroup>

