<ui-fromgroup *ngIf="visible == null || visible === undefined  || visible" [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>
  <span>
    <div
        [class.input-group]="inputgroup !== 'Invisible'"
        [class.input-group-lg]="size === 'Large'"
        [class.input-group-sm]="size === 'Small'">
      <input *ngIf="!static &amp;&amp; inputgroup === 'Right'"
            [class.is-invalid]="isNgInvalid"
            type="{{password ? 'password' : 'text'}}"
            class="form-control"
            (change)="onChange($event.target.value)"
            (keyup)="onChange($event.target.value)"
            attr.id="{{htmlId}}_input"
            [attr.autocomplete]="password ? autocomplete ? null : 'off' : null"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            [disabled]="disabled"
            [maxlength]="length"

            [mask]="mask"
            [patterns]="patterns"
            [specialCharacters]="specialCharacters"
            [dropSpecialCharacters]="dropSpecialCharacters"
            [clearIfNotMatch]="clearIfNotMatch">
      <ng-content *ngIf="!static &amp;&amp; inputgroup !=='Invisible'"></ng-content>
      <input *ngIf="!static &amp;&amp; (inputgroup === 'Left' || inputgroup === 'Invisible')"
            [class.is-invalid]="isNgInvalid"
            type="{{password ? 'password' : 'text'}}"
            class="form-control"
            (change)="onChange($event.target.value)"
            (keyup)="onChange($event.target.value)"
            attr.id="{{htmlId}}_input"
            [attr.autocomplete]="password ? autocomplete ? null : 'off' : null"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            [disabled]="disabled"
            [maxlength]="length"

            [mask]="mask"
            [patterns]="patterns"
            [specialCharacters]="specialCharacters"
            [dropSpecialCharacters]="dropSpecialCharacters"
            [clearIfNotMatch]="clearIfNotMatch">
      <p *ngIf="static" attr.id="{{htmlId}}_static"
            [class.is-invalid]="isNgInvalid"
            class="form-control-static">{{password ? '***' : value }}</p>
      <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
    </div>
    <ui-error-reporter #errorReporter></ui-error-reporter>
  </span>
</ui-fromgroup>
