<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>ui-fromgroup (internally used by form elements)</strong>
          </div>
          <div class="card-body">

            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

              <ui-fromgroup [horizontal]="false">
                <label for="company">stacked</label>
                <span>
                  <input type="text" class="form-control" id="company" placeholder="Enter your company name">
                </span>
              </ui-fromgroup>

              <ui-fromgroup>
                <label for="text-input">horizontal</label>
                <span>
                  <input type="text" id="text-input" class="form-control" placeholder="Text">
                </span>
              </ui-fromgroup>

            </form>

          </div>
        </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>ui-card</strong>
          </div>
          <div class="card-body">

            <ui-card>
                I have a body
            </ui-card>

            <ui-card [header]="'My Header'">
                I have a body and a header
            </ui-card>

            <ui-card [showFlat]="true" [header]="'My Header'">
                <div class="m-3 mb-4" >
                  I am a card but I am displayed flat.
                </div>
            </ui-card>

            <ui-card>
                <ui-card-header>
                    My Custom Header
                    <span class="badge badge-success float-right">Badge in color</span>
                </ui-card-header>
                I have a body and a custom header
            </ui-card>

          </div>
        </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
