// Here you can add other styles

// https://stackoverflow.com/questions/10809995/css-disable-text-selection
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// https://github.com/scttcper/ngx-toastr

// issues with the background - we force it to be black
.toast {
  background-color: black;
  color: white;
}

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import "~ngx-toastr/toastr-bs4-alert";





