<div *ngIf="!showFlat; else mainContent" class="card">
    <ui-card-header *ngIf='header'>{{header}}</ui-card-header>
    <ng-content select="ui-card-header"></ng-content>
    <div class="card-body">
        <ng-content *ngTemplateOutlet="mainContent"></ng-content>
    </div>
</div>

<ng-template #mainContent>
  <ng-content></ng-content>
</ng-template>
