<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Form Elments</strong>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <button type="button" (click)="toggleDisabled()" class="btn btn-warning"> {{disabled ? 'Disabled' : 'Enabled'}}</button>
                    <button type="button" (click)="toggleStatic()" class="btn ml-3 btn-primary"> {{static ? 'Static' : 'Editable'}}</button>
                    <button type="button" (click)="toogleHorizontal()" class="btn ml-3 btn-secondary"> {{horizontal ? 'Horizontal' : 'Stacked'}}</button>
                </div>
            </div>

            <form autocomplete="false">
              <ui-textinput
                [label]="'Text input'"
                [(ngModel)]="textInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <strong>Debug:</strong> {{textInput}}
              <hr>
              <ui-textinput
                [label]="'Text input - numericMode'"
                [numericMode]="'true'"
                [(ngModel)]="textInputNumericMask"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static"                >
              </ui-textinput>
              <strong>Debug:</strong> {{textInputNumericMask}}
              <hr>
              <ui-textinput
                [label]="'Password'"
                [password]="true"
                [(ngModel)]="passwortTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <strong>Debug:</strong> {{passwortTextInput}}
              <hr>
              <ui-textinput
                [label]="'Help Text'"
                [help]="'Example block-level help text here.'"
                [(ngModel)]="helpTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <strong>Debug:</strong> {{helpTextInput}}
              <hr>
              <ui-textinput
                [label]="'Placeholder'"
                [placeholder]="'Placeholder - type text to remove me'"
                [(ngModel)]="placeholderTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <strong>Debug:</strong> {{placeholderTextInput}}
              <hr>
              <ui-textinput
                [label]="'Disabled'"
                [placeholder]="'Disabled Input here'"
                [disabled]="true"
                [(ngModel)]="disabledTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [static]="static">
              </ui-textinput>
              <strong>Debug:</strong> {{disabledTextInput}}
              <hr>
              <ui-textinput
                [label]="'Static'"
                [static]="true"
                [(ngModel)]="staticTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled">
              </ui-textinput>
              <strong>Debug:</strong> {{staticTextInput}}
              <hr>
              <ui-textinput
                [label]="'Column Sizing: Large'"
                [size]="'Large'"
                [(ngModel)]="textSizeLargeTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <hr>
              <ui-textinput
                [label]="'Column Sizing: Default'"
                [size]="'Default'"
                [(ngModel)]="textSizeDefaultTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <hr>
              <ui-textinput
                [label]="'Column Sizing: Small'"
                [size]="'Small'"
                [(ngModel)]="textSizeSmallTextInput"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-textinput>
              <hr>
              <ui-textinput
                [label]="'Button addons Left'"
                [inputgroup]="'Left'"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
                <span class="input-group-prepend">
                    <button class="btn btn-primary" type="button" [disabled]="disabled" (click)="onGoButton('2')">Go!</button>
                </span>
              </ui-textinput>
              <hr>
              <ui-textinput
                [label]="'Button addons Right'"
                [inputgroup]="'Right'"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
                <span class="input-group-append">
                    <button class="btn btn-primary" type="button" [disabled]="disabled" (click)="onGoButton('2')">Go!</button>
                </span>
              </ui-textinput>
              <hr>
              <ui-textinput
                [label]="'Input groups'"
                [inputgroup]="'Left'"
                [placeholder]="'Username'"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
              </ui-textinput>
              <hr>
              <ui-textinput
                [label]="'Input groups'"
                [inputgroup]="'Right'"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
              </ui-textinput>
              <hr>
              <ui-datepicker
                [label]="'Datepicker'"
                [(ngModel)]="datepickerValue"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-datepicker>
              <strong>Debug:</strong> {{datepickerValue}}
              <hr>
              <ui-timepicker
                [label]="'Timepicker'"
                [(ngModel)]="timepickerValue"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-timepicker>
              <strong>Debug:</strong> {{timepickerValue}}
              <hr>
              <!-- CHECKBOX -->
              <ui-checkbox
                [label]="'Checkbox'"
                [caption]="'My Caption'"
                [(ngModel)]="checkBox"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-checkbox>
              <strong>Debug:</strong> {{checkBox}}
              <hr>
              <ui-checkbox
                [caption]="'Disabled Caption - no Label'"
                [horizontal]="horizontal"
                [disabled]="true">
              </ui-checkbox>
              <hr>
              <ui-checkboxgroup
                [label]="'Checkbox Group'"
                [items]="checkboxGropItems"
                [(ngModel)]="checkboxGropValues"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-checkboxgroup>
              <strong>Debug:</strong>
              <ul *ngIf="checkboxGropValues &amp;&amp; checkboxGropValues.length>0">
                  <li *ngFor="let item of checkboxGropValues">
                      Key: {{item.label}} - Value: {{item.value}}
                  </li>
              </ul>
              <hr>
              <ui-radio
                [label]="'Radio'"
                [items]="radioItems"
                [(ngModel)]="radioValue"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-radio>
              <strong>Debug:</strong> {{radioValue}}
              <hr>
              <ui-dropdown
                [label]="'Dropdown'"
                [items]="dropdownItems"
                [(ngModel)]="dropdownValue"
                [ngModelOptions]="{standalone: true}"
                [horizontal]="horizontal"
                [disabled]="disabled"
                [static]="static">
              </ui-dropdown>
              <strong>Debug:</strong> {{dropdownValue}}
              <hr>
              <ui-dropdown-multi>
              </ui-dropdown-multi>
              <hr>
          </form>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
