<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Dynamic Part</strong>
          </div>
          <div class="card-body">

              <div class="btn-group mb-3" role="group">
                  <button (click)="onCreateDynamicItems()" class="btn btn-primary" >(Re-)Create Dynamic Items</button>
                  <button (click)="toogleFlatView()" class="btn btn-secondary ml-2" >{{showFlat ? 'Flat Mode' : 'Card Mode'}}</button>
                  <button (click)="cleanForm()" class="btn btn-warning ml-2" >Clean</button>
              </div>

              <ui-dynamic-form #dynamicFrom></ui-dynamic-form>
          </div>
        </div>
    </div>
  </div>
</div>

<pre *ngIf="desc">
  {{desc | json}}
</pre>


