<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Dialogs</span>
        </div>
        <div class="card-body">

          <div class="card">
              <div class="card-header card-primary card-inverse">
                  <span class="card-title">Simple Dialog</span>
                </div>
              <div class="card-body">
                  <div class="btn-group" role="group">
                    <button type="button" (click)="onShowTextHelloWorldDialog()" class="btn btn-primary"> Hello World</button>
                    <button type="button" (click)="onShowTextTitleYesNoDialog()" class="btn btn-primary ml-2"> Title, YesNo Buttons</button>
                    <button type="button" (click)="onShowTextNoHeaderCloseButtonDialog()" class="btn btn-primary ml-2"> No Header Close Button</button>
                    <button type="button" (click)="onShowTextNoEscBackdropClickDialog()" class="btn btn-primary ml-2"> No ESC / Backdrop Click</button>
                  </div>
              </div>
          </div>

          <div class="card">
              <div class="card-header card-primary card-inverse">
                  <span class="card-title">Custom Body Dialog</span>
                </div>
              <div class="card-body">
                  <div class="btn-group" role="group">
                    <button type="button" (click)="onShowCustomBodyDialog()" class="btn btn-primary"> Custom Body</button>
                  </div>
              </div>
          </div>

          <div class="card">
              <div class="card-header card-primary card-inverse">
                  <span class="card-title">Custom Dialog</span>
                </div>
              <div class="card-body">
                  <div class="btn-group" role="group">
                      <button type="button" (click)="onShowCustomDialog()" class="btn btn-primary"> Full Custom Dialog</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

