<h3 class="display-5">Finished! </h3>

<hr>

<ui-card>
    <strong>Bitte geben Sie Ihre Daten ein und Klicken Sie dann auf "Termin buchen", um diesen Termin verbindlich zu buchen.</strong>
</ui-card>

<ui-dynamic-form #dynamicFrom></ui-dynamic-form>
