<div class="container">
  <div class="row">
    <app-processindicator [ws]="ws" class="col-12 col-lg-3 col-xl-2">

    </app-processindicator>

    <!-- <ui-card class="col-12 col-sm-12 col-md-12 col-xl-10 col-lg-10"> -->
    <div class="card col-12 col-lg-9 col-xl-10 stepCard">
      <div class="card-body">
      <!-- [header]="'Schedule an appointment'" -->
        <app-step1 [ws]="ws" *ngIf="ws?.currentStep=='step1'">

        </app-step1>

        <app-step2 [ws]="ws" *ngIf="ws?.currentStep=='step2'">

        </app-step2>

        <app-step3 [ws]="ws" *ngIf="ws?.currentStep=='step3'">

        </app-step3>

        <app-step4 [ws]="ws" *ngIf="ws?.currentStep=='step4'">

        </app-step4>

        <!-- <app-step5 [ws]="ws" *ngIf="ws?.currentStep=='step5'"> -->

        <!-- </app-step5> -->

        <div class="btn-group float-right" role="group">
          <button
          (click)="onPrev()"
          type="button"
          class="btn btn-secondary"
          htmlId="btnPrev">
          Prev</button>

          <button  (click)="onNext()"
          type="submit"
          [disabled]="ws?.stepStatusValid != true"
          class="btn btn-primary ml-2"
          htmlId="btnNext">
          Next</button>

        </div>
      </div>
    </div>
  </div>
  <!-- </ui-card> -->
</div>
