<div *ngIf="formControlName" [ngxErrors]="formControlName" #myError="ngxErrors" style="margin-top: 15px;  color: red;">
  <div *ngFor="let error of errors" [ngxError]="error.name" [when]="['invalid']">
    <strong *ngIf="!error.showValue" style="padding-left: 10px;">{{ error.text }}</strong>
    <strong *ngIf="error.showValue &amp;&amp; myError.getError(error.name)?.length == 0" style="padding-left: 10px;">
        {{ error.text }}
    </strong>
    <strong *ngIf="error.showValue &amp;&amp; myError.getError(error.name)?.length === 1" style="padding-left: 10px;">
        {{ myError.getError(error.name) }}xxx
    </strong>
    <div *ngIf="error.showValue &amp;&amp; myError.getError(error.name)?.length > 1 ">
       <ul *ngFor="let errorText of myError.getError(error.name)">
          <li>
            <strong>{{ errorText }}</strong>
          </li>
      </ul>
    </div>
  </div>
</div>

