<ui-fromgroup *ngIf="visible == null || visible === undefined  || visible" [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>
  <span>
      <div
        [class.input-group]="inputgroup !== 'Invisible'"
        [class.input-group-lg]="size === 'Large'"
        [class.input-group-sm]="size === 'Small'">
      <ng-template ngFor let-item [ngForOf]="items" let-index="index">
        <div class="radio" [class.disabled]="disabled || static || item.disabled" [class.is-invalid]="isNgInvalid">
          <label attr.for="{{item.htmlId ? item.htmlId : htmlId + '_input_' + index}}"
                class="disable-select" (click)="onChange(item)">
            <input type="radio"
                [(ngModel)]="value"
                (click)="onChange(item)"
                name="{{htmlId}}_name"
                attr.id="{{item.htmlId ? item.htmlId : htmlId + '_input_' + index}}"
                [disabled]="disabled || static || item.disabled"
                value="{{item.value}}">
                {{item.label}}
          </label>
        </div>
      </ng-template>
      <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
    </div>
    <ui-error-reporter #errorReporter></ui-error-reporter>
  </span>
</ui-fromgroup>
