<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Notification</span>
        </div>
        <div class="card-body">
          <div class="card">
              <div class="card-header card-primary card-inverse">
                  <span class="card-title">Show Toast Message</span>
                </div>
              <div class="card-body">
                  <div class="btn-group" role="group">
                      <button type="button" (click)="onShowToast()" class="btn btn-white"> Show</button>
                      <button type="button" (click)="onShowSuccessToast()" class="btn btn-primary ml-2"> Show Success</button>
                      <button type="button" (click)="onShowErrorToast()" class="btn btn-danger ml-2"> Show Error</button>
                      <button type="button" (click)="onShowInfoToast()" class="btn btn-info ml-2"> Show Info</button>
                      <button type="button" (click)="onShowWarningToast()" class="btn btn-warning ml-2"> Show Warning</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

