<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Validation</span>
        </div>
        <div class="card-body">
          <div class="card">
              <div class="card-body">
                  <div class="btn-group" role="group">
                    <button type="button" (click)="toggleDisabled()" class="btn btn-secondary"> {{disabled ? 'Disabled' : 'Enabled'}}</button>
                    <button type="button" (click)="toggleStatic()" class="btn btn-secondary ml-2"> {{static ? 'Readonly' : 'Editable'}}</button>
                    <button type="button" (click)="createOneError()" class="btn btn-danger ml-2"> One Error (Server)</button>
                    <button type="button" (click)="createMannyErrors()" class="btn btn-danger ml-2"> Many Errors (Server)</button>
                    <button type="button" (click)="removeErrors()" class="btn btn-info ml-2"> Remove Errors</button>
                    <button type="button" (click)="validateForm()" class="btn btn-warning ml-2"> Validate</button>
                  </div>
              </div>
          </div>
          <form [formGroup]="formGroup" autocomplete="off" novalidate action="#" method="#">
            <ui-textinput
              formControlName='formText'
              [label]="'Normal'"
              [disabled]="disabled"
              [static]="static">
            </ui-textinput>
            <hr>
            <ui-textinput
              formControlName='formMin'
              [label]="'min - 5'"
              [disabled]="disabled"
              [static]="static"
              [numericMode]="true">
            </ui-textinput>
            <hr>
            <ui-textinput
              formControlName='formMax'
              [label]="'max - 8'"
              [disabled]="disabled"
              [static]="static"
              [numericMode]="true">
            </ui-textinput>
            <hr>
            <ui-textinput
              formControlName='formMinLength'
              [label]="'minLength - 10'"
              [disabled]="disabled"
              [static]="static">
            </ui-textinput>
            <hr>
            <ui-textinput
              formControlName='formMaxLength'
              [label]="'maxLength - 2'"
              [disabled]="disabled"
              [static]="static">
            </ui-textinput>
            <hr>
            <ui-textinput
              formControlName='formEmail'
              [label]="'Email'"
              [disabled]="disabled"
              [static]="static">
            </ui-textinput>
            <hr>
            <ui-textinput
              formControlName='formPattern'
              [label]="'Pattern'"
              [disabled]="disabled"
              [static]="static">
            </ui-textinput>
            <hr>
            <ui-checkbox
              formControlName='formCheckbox'
              [label]="'Checkbox'"
              [caption]="'Value to check'"
              [disabled]="disabled"
              [static]="static">
            </ui-checkbox>
            <hr>
            <ui-radio
              formControlName='formRadio'
              [label]="'Radio'"
              [items]="radioItems"
              [disabled]="disabled"
              [static]="static">
            </ui-radio>
            <hr>
            <ui-dropdown
              formControlName='formDropDownList'
              [label]="'DropDownList'"
              [items]="dropdownItems"
              [disabled]="disabled"
              [static]="static">
            </ui-dropdown>
            <hr>
          </form>
        </div>
      </div>
      <div *ngIf="errors" class="card">
          <div class="card-header card-danger card-inverse">
            <span class="card-title">Errors</span>
          </div>
          <div class="card-body">
                <pre>{{errors | json}}</pre>
          </div>
      </div>
    </div>
  </div>
</div>

<pre *ngIf="errorJsonString">{{errorJsonString | json}}</pre>
