<ui-fromgroup [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>
  <span>
    <div
        [class.input-group]="inputgroup !== 'Invisible'"
        [class.input-group-lg]="size === 'Large'"
        [class.input-group-sm]="size === 'Small'">
      <select *ngIf="!static" class="form-control" (change)="onChange($event.target.value)"
          [class.disabled]="disabled"
          [disabled]="disabled">
        <ng-template ngFor let-item [ngForOf]="items" let-index="index">
            <option
              [class.is-invalid]="isNgInvalid"
              [selected]="item.value === value"
              [value]="item.value"
              [attr.disabled]="item?.disabled"
              *ngIf="item?.visible!=true"
              attr.id="{{item.htmlId ? item.htmlId : htmlId + '_input_' + index}}">
              {{item.label}}
            </option>
        </ng-template>
      </select>
      <div *ngIf="static">
        <ng-template ngFor let-item [ngForOf]="items" let-index="index">
            <div *ngIf="item.value === value" [class.is-invalid]="isNgInvalid"
                  attr.id="{{item.htmlId ? item.htmlId : htmlId + '_static_' + index}}">
              {{item.label}}
            </div>
        </ng-template>
      </div>
      <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
    </div>
    <ui-error-reporter #errorReporter></ui-error-reporter>
  </span>
</ui-fromgroup>
