<ui-fromgroup *ngIf="visible == null || visible === undefined  || visible" [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>
  <span>
    <div
        [class.input-group-lg]="size === 'Large'"
        [class.input-group-sm]="size === 'Small'">
      <div class="checkbox">
        <label for="{{htmlId}}_input" class="disable-select" >
          <input type="checkbox"
                [class.is-invalid]="isNgInvalid"
                (change)="onChange($event.currentTarget.checked)"
                attr.id="{{htmlId}}_input"
                [(ngModel)]="value"
                [disabled]="disabled || static">
          {{caption}}
        </label>
      </div>
      <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
    </div>
    <ui-error-reporter #errorReporter></ui-error-reporter>
  </span>
</ui-fromgroup>
