.stepBtn button {
  width: 100%;
  background: white;
  border: none;
}

.stepBtn .btn.active { color: #20a8d8; }

.processInd { display: -webkit-box; }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .processInd { display: -webkit-box; }
  .separator { border-left: 1px solid grey; }
  .title{ display: none; }
  .process{
    margin: 0px;
    width: 25%;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .stepBtn {
    width: 25%;
    height: 100%;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) and (min-width: 575.99px) {
  .processInd { display: -webkit-box; }
  .separator { border-left: 1px solid grey; }
  .title{ display: none; }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .process{
    margin: 0px;
    width: 25%;
  }
  .stepBtn {
    width: 25%;
    height: 100%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 767.99px) {
  .processInd{ display: -webkit-box; }
  .separator { border-left: 1px solid grey; }
  .title{ display: none; }
  .process{
    margin: 0px;
    width: 25%;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .stepBtn {
    width: 25%;
    height: 100%;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) and (min-width: 991.99px) {
  .processInd { display: block; }
}

@media (min-width: 1199.99px) {
  .processInd{ display: block; }
}
