<div class="card">
  <div class="card-body processInd">
    <div class="stepBtn">
        <!-- [ngClass]="'active': ws?.currentStep=='step1'"  -->
      <button type="button" (click)="onButtonPressed('step1')"
              [ngClass]="{active : ws?.activeStep('step1')}"
              class="btn ">
        <span class="title"
              [hidden]="!ws?.activeStep('step1')">Appointment </span><i class="fa fa-calendar"></i></button>
    </div>
    <div class="stepBtn separator">
      <button type="button" (click)="onButtonPressed('step2')"
              [ngClass]="{active : ws?.activeStep('step2')}"
              [disabled]="ws?.stepFinished('step2')"
              class="btn ">
        <span class="title" [hidden]="!ws?.activeStep('step2')">Verify </span><i class="fa fa-check-circle"></i></button>
    </div>
    <div class="stepBtn separator">
      <button type="button" (click)="onButtonPressed('step3')"
              [ngClass]="{active : ws?.activeStep('step3')}"
              [disabled]="ws?.stepFinished('step3')"
              class="btn ">
        <span class="title" [hidden]="!ws?.activeStep('step3')">Patient Info </span><i class="fa fa-user-plus"></i></button>
    </div>
    <div class="stepBtn separator">
      <button type="button" (click)="onButtonPressed('step4')"
              [ngClass]="{active : ws?.activeStep('step4')}"
              [disabled]="ws?.stepFinished('step4')"
              class="btn ">
        <span class="title" [hidden]="!ws?.activeStep('step4')">Complete </span><i class="fa fa-check"></i></button>
    </div>
    <!-- <div class="stepBtn separator">
      <button type="button" (click)="onButtonPressed('step5')"
              [ngClass]="{active : ws?.activeStep('step5')}"
              [disabled]="ws?.stepFinished('step5')"
              class="btn"><i class="fa fa-calendar"></i></button>
    </div> -->
  </div>
</div>
