<div class="modal-footer">

  <button *ngIf="buttons == 'AbortRetryIgnore'" type="button" class="btn"
    [class.btn-default]="primaryButton != 'Abort'"
    [class.btn-primary]="primaryButton == 'Abort'"
    [ui-autofocus]="primaryButton == 'Abort'"
    (click)="onButtonPressed('Abort')"> Abort </button>
  <button *ngIf="buttons == 'AbortRetryIgnore' || buttons == 'RetryCancel'" type="button" class="btn"
    [class.btn-default]="primaryButton != 'Retry'"
    [class.btn-primary]="primaryButton == 'Retry'"
    [ui-autofocus]="primaryButton == 'Retry'"
    (click)="onButtonPressed('Retry')"> Retry </button>
  <button *ngIf="buttons == 'AbortRetryIgnore'" type="button" class="btn"
    [class.btn-default]="primaryButton != 'Ignore'"
    [class.btn-primary]="primaryButton == 'Ignore'"
    [ui-autofocus]="primaryButton == 'Ignore'"
    (click)="onButtonPressed('Ignore')"> Ignore </button>
  <button *ngIf="buttons == 'OK' || buttons == 'OKCancel' " type="button" class="btn"
    [class.btn-default]="primaryButton != 'OK'"
    [class.btn-primary]="primaryButton == 'OK'"
    [ui-autofocus]="primaryButton == 'OK'"
    (click)="onButtonPressed('OK')"> OK </button>
  <button *ngIf="buttons == 'OKCancel' || buttons == 'RetryCancel' || buttons == 'YesNoCancel'" type="button" class="btn"
    [class.btn-default]="primaryButton != 'Cancel'"
    [class.btn-primary]="primaryButton == 'Cancel'"
    [ui-autofocus]="primaryButton == 'Cancel'"
    (click)="onButtonPressed('Cancel')"> Cancel </button>
  <button *ngIf="buttons == 'YesNo' || buttons == 'YesNoCancel'" type="button" class="btn"
    [class.btn-default]="primaryButton != 'Yes'"
    [class.btn-primary]="primaryButton == 'Yes'"
    [ui-autofocus]="primaryButton == 'Yes'"
    (click)="onButtonPressed('Yes')"> Yes </button>
  <button *ngIf="buttons == 'YesNo' || buttons == 'YesNoCancel'" type="button" class="btn"
    [class.btn-default]="primaryButton != 'No'"
    [class.btn-primary]="primaryButton == 'No'"
    [ui-autofocus]="primaryButton == 'No'"
    (click)="onButtonPressed('No')"> No </button>
</div>
