<h3 class="display-5">Your Contact Information </h3>

<hr>

<ui-card class="text-primary intialPar">
  <strong>Bitte geben Sie Ihre Daten ein und Klicken Sie dann auf "Termin buchen", um diesen Termin verbindlich zu buchen.</strong>
</ui-card>

<!-- <div class="form-row ">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">First name:</label>
  </div>
  <div class="col-12 col-sm-10 mb-2">
    <input type="text" [(ngModel)]="ws.fName" (change)="checkRequired()" class="form-control col-12" placeholder="Vorname*" #fname="ngModel" required>
  </div>
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">Last name:</label>
  </div>
  <div class="col-12 col-sm-10 mb-2">
      <input type="text" [(ngModel)]="ws.lName" (change)="checkRequired()" class="form-control col-12" placeholder="Nachname*" #lname="ngModel" required>
    </div>
</div>
<div class="form-row ">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">Gender:</label>
  </div>
  <div class="col-sm-10 col-12 mb-2">
    <select class="form-control" size="1" [(ngModel)]="ws.gender" (change)="checkRequired()" placeholder="Geschlecht:*" #gender="ngModel" required>
      <option value="0">Geschlecht:*</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Non Binary</option>
    </select>
  </div>
</div>
<div class="form-row ">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">DOB:</label>
  </div>
  <div class="col-sm-10 col-12 mb-2">
    <ui-datepicker
      [placeholder]="'dd.mm.yyyy'"
      [value]="ws.dob"
      [horizontal]="horizontal"
      [disabled]="disabled"
      [static]="static"
      class="input-group-lg"
      (change)="checkRequired()" required>
    </ui-datepicker>
  </div>

</div>
<div class="form-row">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">Straße:</label>
  </div>
  <div class="col-sm-8 mb-2">
    <input type="text" class="form-control col-12" placeholder="Straße">
  </div>
  <div class="col-sm-2 mb-2">
    <input type="text" class="form-control col-12" placeholder="Nr">
  </div>
</div>
<div class="form-row">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">PLZ/Ort:</label>
  </div>
  <div class="col-sm-3 mb-2">
    <input type="text" class="form-control col-12" [(ngModel)]="ws.plz" placeholder="PLZ">
  </div>
  <div class="col-sm-7 mb-2">
    <input type="text" class="form-control col-12" [(ngModel)]="ws.ort" placeholder="Ort">
  </div>
</div>

<div class="form-row ">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">Insurance:*</label>
  </div>
  <div class="col-sm-10 col-12 mb-2">
    <select class="form-control" size="1" [(ngModel)]="ws.insurance" (change)="checkRequired()" placeholder="Geschlecht:*" required>
      <option value="0">Geschlecht:*</option>
      <option value="1">provider 1</option>
      <option value="2">provider 2</option>
      <option value="3">provider 3</option>
    </select>
  </div>

</div>

<div class="form-row align-items-center">
  <label class="col-2">Email:</label>
  <div class="col">
    <div class="input-group mb-2">
      <input type="email" disabled class="form-control" id="inlineFormInputGroup" placeholder="{{ws.patientEmail}}">
    </div>
  </div>
  <div class="col-3">
    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
      <label class="form-check-label" for="autoSizingCheck">
        Email Service
      </label>
    </div>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">Telephone:*</label>
  </div>
  <div class="col-sm-10 mb-2">
    <input type="text" class="form-control col-12" [(ngModel)]="ws.phone" (change)="checkRequired()" placeholder="+353 89 123 4567" required>
  </div>
</div>

<div class="form-row">
  <div class="col-sm-2 mb-2">
    <label class="col-form-label">Kommentar:</label>
  </div>
  <div class="col-sm-10 mb-2">
    <input type="text" class="form-control col-12" [(ngModel)]="ws.comment" placeholder="Enter additional info here..." style="height:115px;">
  </div>
</div> -->
<!-- <div *ngIf="errors" class="card">
    <div class="card-header card-danger card-inverse">
      <span class="card-title">Errors</span>
    </div>
    <div class="card-body">
          <pre>{{errors | json}}</pre>
    </div>
</div>
<pre *ngIf="errorJsonString">{{errorJsonString | json}}</pre>

<div [hidden]="!formFName.hasError('required')">
  Username is required.
</div> -->

<form [formGroup]="formGroup" action="#" method="#">
  <!-- <div class="form-group row align-items-center"> -->
    <div class="form-row ">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">First name:</label>
      </div>
      <div class="col-12 col-sm-10 mb-2">
        <input type="text" formControlName='formFName' [(ngModel)]="ws.fName"
        (change)="validateForm()" class="form-control col-12" [ngClass]="{ 'is-invalid': formFName.hasError('minlength') }" placeholder="Vorname*">
      </div>
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">Last name:</label>
      </div>
      <div class="col-12 col-sm-10 mb-2">
        <input type="text" formControlName='formLName' [(ngModel)]="ws.lName" (change)="checkRequired()" class="form-control col-12" placeholder="Nachname*">
      </div>
    </div>
    <div class="form-row ">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">Gender:</label>
      </div>
      <div class="col-sm-10 col-12 mb-2">
        <select class="form-control" size="1" formControlName='formGender' [(ngModel)]="ws.gender" (change)="checkRequired()" placeholder="Geschlecht:*">
          <option value="0">Geschlecht:*</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Non Binary</option>
        </select>
      </div>
    </div>
    <div class="form-row ">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">DOB:</label>
      </div>
      <div class="col-sm-10 col-12 mb-2">
        <ui-datepicker
          formControlName='formDate'
          [placeholder]="'dd.mm.yyyy'"
          [value]="ws.dob"
          class="input-group-lg"
          (change)="checkRequired()" required>
        </ui-datepicker>
      </div>

    </div>
    <div class="form-row">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">Straße:</label>
      </div>
      <div class="col-sm-8 mb-2">
        <input type="text" class="form-control col-12" formControlName='formStreet' placeholder="Straße">
      </div>
      <div class="col-sm-2 mb-2">
        <input type="text" class="form-control col-12" formControlName='formNr' placeholder="Nr">
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">PLZ/Ort:</label>
      </div>
      <div class="col-sm-3 mb-2">
        <input type="text" class="form-control col-12" formControlName='formPLZ' [(ngModel)]="ws.plz" placeholder="PLZ">
      </div>
      <div class="col-sm-7 mb-2">
        <input type="text" class="form-control col-12" formControlName='formOrt' [(ngModel)]="ws.ort" placeholder="Ort">
      </div>
    </div>

    <div class="form-row ">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">Insurance:*</label>
      </div>
      <div class="col-sm-10 col-12 mb-2">
        <select class="form-control" size="1" formControlName='formInsurance' [(ngModel)]="ws.insurance" (change)="checkRequired()" placeholder="Geschlecht:*" required>
          <option value="0">Geschlecht:*</option>
          <option value="1">provider 1</option>
          <option value="2">provider 2</option>
          <option value="3">provider 3</option>
        </select>
      </div>

    </div>

    <div class="form-row align-items-center">
      <label class="col-2">Email:</label>
      <div class="col">
        <div class="input-group mb-2">
          <input type="email" disabled class="form-control" id="inlineFormInputGroup" placeholder="{{ws.patientEmail}}">
        </div>
      </div>
      <div class="col-3">
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck">
          <label class="form-check-label" for="autoSizingCheck">
            Email Service
          </label>
        </div>
      </div>
    </div>

    <div class="form-row align-items-center">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">Telephone:*</label>
      </div>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control col-12" formControlName='formPhone' [(ngModel)]="ws.phone" (change)="checkRequired()" placeholder="+353 89 123 4567" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-2 mb-2">
        <label class="col-form-label">Kommentar:</label>
      </div>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control col-12" formControlName='formComment' [(ngModel)]="ws.comment" placeholder="Enter additional info here..." style="height:115px;">
      </div>
    </div>
  <!-- </div> -->
</form>
