// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .intialPar {
    font-size: 12px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) and (min-width: 575.99px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 767.99px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) and (min-width: 991.99px) {
}

@media (min-width: 1199.99px) {
}

.is-invalid {
  border:  1px solid red;
}
