<ui-fromgroup [horizontal]="horizontal" [horizontalcols]="horizontalcols">
  <label> {{label}} </label>
  <span>
    <div
        [class.input-group]="inputgroup !== 'Invisible'"
        [class.input-group-lg]="size === 'Large'"
        [class.input-group-sm]="size === 'Small'">
      <timepicker
          [class.is-invalid]="isNgInvalid"
          class="form-control"
          (ngModelChange)="onChange($event)"
          attr.id="{{htmlId}}_input"
          type="text"
          [(ngModel)]="value"
          [showMeridian]="false"
          [readonlyInput]="static"
          [disabled]="disabled">
      </timepicker>
      <p *ngIf="help" attr.id="{{htmlId}}_help" class="help-block">{{help}}</p>
    </div>
    <ui-error-reporter #errorReporter></ui-error-reporter>
  </span>
</ui-fromgroup>
