<h3 class="display-5">Verification </h3>

<hr>

<ui-card class="text-primary" id="verificationTitle">
  <strong>Bitte geben Sie Ihre E-Mail Adresse an. Diese benötigen wir, um sicherzustellen dass die Terminanfrage von Ihnen stammt</strong>
</ui-card>

<div *ngIf="error" class="card border-danger">
  <div class="card-header bg-danger">Error</div>
  <div class="card-body text-danger"><strong>{{error}}</strong></div>
</div>

<!-- <div class="form-group row align-items-center" >
  <label class="col-2">Email:</label>
  <div class="col">
    <div class="input-group mb-2">
      <input type="text" [(ngModel)]="ws.patientEmail" #pEmail="ngModel" [ngClass]="{ 'is-invalid': pEmail.touched && pEmail.invalid }" email class="form-control" id="email" name="email" placeholder="enter email...">

      <span class="input-group-append" id="prufenBtn">
        <button type="submit" class="btn-primary btn" (click)="generateCode(ws.patientEmail)">Prüfen</button>
      </span>

    </div>
  </div>
</div> -->

<form [formGroup]="formGroup" class="form-group row align-items-center" autocomplete="off" action="#" method="#">

  <label class="col-2">Email:</label>
  <div class="col">
    <div class="input-group mb-2">
      <input type="text" formControlName='formEmail' [(ngModel)]="ws.newEmail" email class="form-control" id="email" name="email" placeholder="enter email...">

      <span class="input-group-append" id="prufenBtn">
        <button type="submit" class="btn-primary btn" (click)="checkEmail()">Prüfen</button>
      </span>

    </div>
  </div>
</form>

<div *ngIf="emailSent || alreadyVerified" class="form-row align-items-center">
  <label class="col-2">Code:</label>
  <div class="col-4" *ngIf="!alreadyVerified">
    <input type="text" [(ngModel)]="ws.userInputCode"  class="form-control" id="verificationCode" placeholder="enter code ...">
  </div>
  <div class="col-2" *ngIf="alreadyVerified">
    <span *ngIf="alreadyVerified">Verified {{ws.userInputCode}}</span>
  </div>
  <span *ngIf="inputCode || alreadyVerified">
    <i class="fa fa-times-circle incorrect" *ngIf="incorrect"></i>
    <i class="fa fa-check-circle correct" *ngIf="correct || alreadyVerified"></i>
  </span>

  <div class="col-4">
    <button class="btn btn-primary" *ngIf="!alreadyVerified" id="codeChecker" (click)="userInput(ws.userInputCode)">Check Code</button>
  </div>
</div>

<div *ngIf="codeAccepted || alreadyVerified" class="form-group row align-items-center card-flat">
  <div class="card-body">
    <div class="col-9 col-form-label  ">
      <div class="form-check checkbox">
        <input class="form-check-input" (click)="updateStepStatusValid()" [(ngModel)]="ws.tandc" type="checkbox" value id="check1" required>
        <!-- TODO: T's & C's page opens in new window but currently redirects to error 404 page. New page for Privacy & Terms to be made -->
        <label for="check1">I agree to the <a href="#/../../../error404page/error404page.component.html" target="_blank">Terms and Conditions</a> and the <a href="#/../../../error404page/error404page.component.html" target="_blank">Privacy Policy</a></label>
      </div>
      <div class="form-check card border-primary">
        <div class="card-body">
          <span>Wenn Sie ein Benutzerkonto anlegen, können Sie schneller Termine buchen und stornieren.</span>
          <div class="form-check checkbox">
            <input class="form-check-input" type="checkbox" [(ngModel)]="ws.account" value id="check1">
            <label for="check1">Ja, ich möchte ein Benutzerkonto erstellen</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <ui-dynamic-form #dynamicFrom></ui-dynamic-form> -->


