#dynamicFrom {
  margin-top: 15px;
}
.email {
  margin-bottom: 20px;
}

#privacy {
  min-width: 200px;
}

i {
  font-size: 22px;
}

i.correct {
  color: forestgreen;
}

i.incorrect {
  color: crimson;
}

