<form *ngIf="desc?.items?.length>0"
      [attr.autocomplete]="desc?.autocomplete ? null : 'false'"
      [formGroup]="formGroup">

      <ui-card [showFlat]="desc?.showFlat" [header]="desc?.cardLabel">
        <ng-container *ngFor="let item of desc?.items"
                      [ngSwitch]="item?.type">

          <ui-checkbox
            *ngSwitchCase="'CheckBox'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup"

            [caption]="item?.parameters?.caption">
          </ui-checkbox>

          <ui-checkboxgroup
            *ngSwitchCase="'CheckBoxGroup'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup"

            [items]="item?.kvpName ? resolveKeyValuePair(item?.kvpName) : []">
          </ui-checkboxgroup>

          <ui-datepicker
            *ngSwitchCase="'Date'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup"

            [placeholder]="item?.parameters?.placeholder">
          </ui-datepicker>

          <ui-dropdown
            *ngSwitchCase="'DropDown'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup"

            [items]="item?.kvpName ? resolveKeyValuePair(item?.kvpName) : []">
          </ui-dropdown>

          <ui-textinput
            *ngSwitchCase="'Text'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup"

            [placeholder]="item?.parameters?.placeholder">
          </ui-textinput>

          <ui-radio
            *ngSwitchCase="'Radio'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup"

            [items]="item?.kvpName ? resolveKeyValuePair(item?.kvpName) : []">
          </ui-radio>

          <ui-timepicker
            *ngSwitchCase="'Time'"

            [formControlName]="item.name"

            [htmlId]="item?.htmlId"
            [visible]="item?.visible"
            [disabled]="item?.disabled"
            [static]="item?.static"
            [label]="item?.label"
            [help]="item?.help"
            [horizontal]="item?.horizontal"
            [horizontalcols]="item?.horizontalcols"
            [size]="item?.size"
            [inputgroup]="item?.inputgroup">
          </ui-timepicker>

          <ng-container *ngSwitchCase="'Button'"></ng-container>
          <ng-container *ngSwitchCase="'SubmitButton'"></ng-container>

          <div *ngSwitchDefault class="alert alert-danger" type="error">
              <strong>Error: dynamic form has an unknown form type element </strong> {{item?.type}}
          </div>

        </ng-container>

        <div class="btn-group float-right" role="group"
            *ngFor="let button of buttons"
            [ngSwitch]="button?.type">
            <button *ngSwitchCase="'SubmitButton'" (click)="onSubmit(button.name)" type="submit"
              attr.id="{{button?.htmlId}}_button"
              class="btn btn-primary ml-2">{{button?.label ? button?.label : 'Submit'}}</button>

            <button *ngSwitchCase="'Button'" (click)="onSubmit(button.name)"  type="button"
              attr.id="{{button?.htmlId}}_button"
              class="btn btn-secondary ml-2">{{button?.label ? button?.label : 'Button'}}</button>
        </div>

      </ui-card>
</form>

