<div class="modal-header" style="background: green">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="background: yellow">
  <ul *ngIf="list.length">
    <li *ngFor="let item of list">{{item}}</li>
  </ul>
</div>
<div class="modal-footer"  style="background: yellowgreen">
  <button type="button" class="btn btn-default" (click)="onClose()">{{closeBtnName}}</button>
</div>
